@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Accrual World</h1>
    <p>Where it doesn't have to be a cruel world when it comes to your taxes.</p>
    <p>See what I did there?</p>
    <img src="https://media.giphy.com/media/R0TrhAtNeUC0E/giphy.gif" alt="funny tax gif"/>
</div>
