@model IEnumerable<AccrualWorld.Models.Income>

@{
    ViewData["Title"] = "Invoice";
}

<h1>Paystubs and Paid Invoices</h1>

<table>
    <thead>
        <tr>
            <th>
                <a asp-controller="Incomes" asp-action="Invoice" class="btn btn-dark">View Paystubs and Invoices</a>
            </th>
            <th>
                <a href="javascript:window.print()" class="btn btn-dark">Click to Print This Page</a>
            </th>
        </tr>
    </thead>
</table>

@using (Html.BeginForm())
{
    <div>
        <span>Start Date :</span> <input type="date" name="start" />



        <span>End Date :</span> <input type="date" name="end" />



        <input type="submit" class="btn btn-outline-dark"value="Get Payments Between Dates" />



    </div>
    //date range picker with table printing below
    <table class="table table-striped shadow-lg" style="background-color: #F6F1EA">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    Paystub or Invoice
                </th>




            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        <img src="@("~/invoice/" + item.ImagePath)" asp-append-version="true" width="650px" height="450px" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
